<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Facebook Groups Sentiment Analysis</title>
        <link rel="stylesheet" type="text/css" href="https://oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.js"></script>

        {% load staticfiles %}
        <script src="{% static 'js/index.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="ui segment">
            <div class="ui input">
                <input id="num_samples" type="text" placeholder="# of Samples" value="">
            </div>
            <div class="ui inverted divider"></div>
            <div class="ui input">
                <input id="facebook_group_name" type="text" placeholder="Facebook Group Name" value="">
            </div>
            <div class="ui inverted divider"></div>
            <button id="compute" class="ui primary button">
                Compute
            </button>
        </div>

        <div class="ui segment">
            <div id="compute_results"></div>
        </div>
    </body>
</html>