<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Facebook Groups Sentiment Analysis</title>
        <link rel="stylesheet" type="text/css" href="https://oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.js"></script>

        {% load staticfiles %}
        <script src="{% static 'js/index.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>

    </body>
</html>